body {
    display: grid;
    grid-template-columns: 20% 80%;
}

#table {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    border: 2px solid peru;
    padding: 20px;
    height: 500px;
}

#container {
    display: flex;
    flex-direction: column;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 35px;
}

h1 {
  text-align: center;
}

#title {

}

#create {
  align-self: center;
}

#list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  text-align: center;
  width: 250px;
  height: 300px;
}

.cover {
  width: 220px;
}

#prevBtn {
  align: left;
}

#nextBtn {
  align: right;
}

a {
    display: flex;
    border: 2px solid black;
    padding: 20px;
    width: 10vw;
    justify-content: center;
}
