#container {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 95vh;
    /* grid-template-columns: repeat(auto-fill, minmax(5fr, 5fr)); */
}

#tableOfContents {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    border: 2px solid peru;
    padding: 20px;
}

a {
    display: flex;
    border: 2px solid black;
    padding: 20px;
    width: 10vw;
    justify-content: center;
}

#feed {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}