body {
    /* height: 100vh; */
}

#bodyContainer {
    /* display: grid;
    grid-template-columns: 20% 80%; */
    height: 95vh;
    /* grid-template-columns: repeat(auto-fill, minmax(5fr, 5fr)); */
}

.stick {
    height: 110px;
}

#tableOfContents {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    border: 2px solid peru;
    padding: 20px;
}

#feed {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.userName {
    display: flex;
    flex-direction: column;
    border: 1px solid salmon;
    /* padding: 20px; */
    height: 10vh;
    align-items: center;

}

#dataContainer {
    gap: 90px;
    display: flex;
    flex-direction: column;
}

.likeContainer {
    display: flex;
    justify-content: space-between;
    border: 1px black;
    /* gap: 5px; */

}

.likeContainer div {
    border: 1px solid burlywood;
    width: 50%;
    padding: 10px;
}

.postBody {
    border: 1px solid black;
    padding: 40px;
    align-items: center;
}

img {
    width: 100%;
}

.finalContainer {
    border: 1px solid black;
    border-radius: 2%;
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#overFlow {
    height: 95vh;
    overflow: scroll;
    text-align: center;
    width: 55vw;
}