#container {
  display: flex;
  flex-direction: column;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 35px;
}

h1 {
  text-align: center;
}

#title {}

#create {
  align-self: center;
}

#list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  text-align: center;
  width: 250px;
  height: 300px;
}

.cover {
  width: 220px;
}

#prevBtn {
  align: left;
}

#nextBtn {
  align: right;
}